[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = {version = "*", extras = ["standard"]}
starlette = "*"
joblib = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
